.wrapper {
    width: 100%;
    min-width: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.item {
    scroll-margin-top: 96px;
}